{
    "reporter": [
        "lcov",
        "text"
    ],
    "require": [
        "ts-node/register"
    ],
    "extension": [
        ".ts"
    ],
    "all": true,
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "src/**/*.spec.ts",
        "src/runner.ts",
        "src/day-*/puzzle-*/index.ts"
    ]
}
